@import "https://fonts.googleapis.com/css?family=Yeseva+One:regular";
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Yeseva+One&display=swap";

// fonts
$primary-font-family: 'Montserrat', sans-serif;
$secondary-font-family: 'Yeseva One', $primary-font-family;

// colors

$orange: #ec914f;
