.appBtn {
  //color: red;
  //background: blanchedalmond;

  & :global(.ant-btn-primary) {
      color: aqua;
    }


 & :global {
    .ant-btn-primary {
      color: aqua;
    }
  }


  :global(.ant-modal-body) p {
      color: yellow;
    }
}

.appBtn {


  // ... base styles ...
}

// TODO: require better solution
.appBtn:global(.ant-btn-primary) {
  color: aqua;
}

.appBtn:global(.ant-btn-secondary) {
  color: aqua;
}
