@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  height: 100%;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination {
  bottom: 0;
  left: 50%;
  z-index: 20;
}

.swiper-pagination-bullet {
  width: 32px;
  border-radius: 9999px;
  height: 4px;
  background: #56565e;
  position: absolute;
  bottom: 50px;
  @media screen and (min-width: 1024px) {
    bottom: 100px;
  }
}

.swiper-pagination-bullet-active {
  background: #9747ff;
}

.product-page .swiper-slide-active {
  @apply cursor-pointer flex flex-col max-h-[150px] border-2 border-primary-50 rounded-2xl my-3;
}

.product-page .swiper-slide-next {
  @apply cursor-pointer flex flex-col max-h-[150px] border-2 border-neutral-10 rounded-2xl my-3;
}
